<%- include('./base/header.ejs') %>

    <!-- <h1>We are going to add student</h1> -->
 <%- include('./base/nav.ejs') %>
     <div class="container">
         <div class="alert text-left align:text-center bg-primary my-3" style="color: white;">
            <h4>Add student Form</h4>
         </div>
        </div>
    <!-- <h1> we are going to start server side rendering </h1> -->
     <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form action="/add/student" method="post" enctype="multipart/form-data">
                    <div>
                        <label for="" class="form-label">Rollno</label>
                        <input type="number" class="form-control" name="rollNo"></input>
                    </div>
                    <div>
                        <label for="" class="form-label">First Name</label>
                        <input type="text" class="form-control" name="name"></input>
                    </div>
                    <div>
                        <label for="" class="form-label">Father Name</label>
                        <input type="text" class="form-control" name="fatherName"></input>
                    </div>
                    <div>
                        <label for="" class="form-label">Course</label>
                            <select class="form-control" name="course">
                                <option value="B.Tech">B.Tech</option> 
                                <option value="M.Tech">M.Tech</option>
                                <option value="MBA">MBA</option>
                                <option value="BBA">BBA</option>
                                <option value="BCA">BCA</option>
                            </select>
                    </div>
                    <div>
                        <label for="" class="form-label">Branch</label>
                            <select class="form-control" name="branch">
                                <option value="CSE">CSE</option>
                                <option value="AIML">AIML</option>
                                <option value="IT">IT</option>
                                <option value="ECE">ECE</option>
                                <option value="ME">ME</option>
                            </select>
                    </div>
                    <div>
                        <label for="" class="form-label">Year of Admission</label>
                        <input type="text" class="form-control" name="yearOfAdmission"></input>
                    </div>
                    <div>
                        <label class="form-label">Select Student image </label>
                        <input type="file" class="form-control" name="studentImage">

                    </div>
                    <input type="submit" value="Add Student" class="btn btn-warning w-100 my-3">
                    <!-- <div>
                        <a href="/" class="btn btn-danger w-100 my-3">Add Student</a>
                    </div> -->
                </form>
            </div>
            <div class="col"></div>
        </div>
     </div>

    <%-include('./base/footer.ejs') %>